<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
  url(https://www.net-concept.fr/wp-content/uploads/Developpement-web-Agence-Web-Net-Concept.png.webp);">
  <div class="container">
      <h1>Yoann DESCHAUX</h1>
        <h2>Web fullstack developer</h2>
        <br>
          <p>Après 12 ans d'expérience professionnelle dans les transports et
          l'aménagement du territoire, je débute une nouvelle carrière dans
          le développement web</p>
          <p>Venez découvrir mes compétences et mes projets!</p>
  </div>
  <br><br>
</div>
